.pageMain {
    background-color:whitesmoke;
    width: 351px;
    height: 351px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageMainOne h3, .pageMainOne p{
    background-color:whitesmoke; 
    text-align: center;
}

.pageMainOne h3{
    margin:0;
    padding:5px
}

.pageMainOne p{
    margin:0;
    padding:5px 0 30px 5px
}

.notFound{
    color:red;
    display:none
}

.wrongUser{
    color:red;
    display:none
}

.existUser{
    color:red;
    display:none 
}

.pageMainTwo, .pageMainThree {
    background-color: whitesmoke;
}

.pageMainTwo{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

.pageMainTwo input {
    background-color: whitesmoke;
    width: 215px;
    height: 35px;
    margin: 0 0 20px 0px;
}

.pageMainThree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageMainThree button{
    background-color:turquoise;
    width: 215px;
    height: 35px;
}

.pageMainThree p{
    background-color:whitesmoke;
    margin: 15px 0px 0 0;
    padding:5px 0 30px 5px;
    text-align: center;
}

.pageMainThree a{
    background-color: whitesmoke;
}

.userPageMain{
    height: 100vh;
    width: 100vw;
}

.userPageNav{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.userPageSpanOne{
    background-color: whitesmoke;
}

.userPageh3One{
    margin: 18px 0px 0px 33px;
    background-color: whitesmoke;
    padding: 0 0 10px 0px;
}

.userPageUl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;
    list-style-type: none;
    
}

.userPageLi{
    margin: 7px 33px 0px 0px;
    background-color: whitesmoke;
    padding: 0 0 10px 0px;
    
}

.userPageLi a{
    background-color: whitesmoke; 
    text-decoration: none;
    color: black;
}