.pageMain {
    background-color:whitesmoke;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageMainOne h3, .pageMainOne p{
    background-color:whitesmoke; 
    text-align: center;
}

.pageMainOne h3{
    margin:0;
    padding:5px
}

.pageMainOne p{
    margin:0;
    padding:5px 0 30px 5px
}

.pageMainTwo, .pageMainThree {
    background-color: whitesmoke;
}

.pageMainTwo{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
}

.pageMainTwo input {
    background-color: whitesmoke;
    width: 215px;
    height: 35px;
    margin: 0 0 20px 0px;
}

.pageMainThree{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageMainThree button{
    background-color:turquoise;
    width: 215px;
    height: 35px;
}

.pageMainThree p{
    background-color:whitesmoke;
    margin: 15px 0px 0 0;
    padding:5px 0 30px 5px;
    text-align: center;
}

.pageMainThree a{
    background-color: whitesmoke;
}