@media screen and (max-width: 425px) {
    .userPageSpanOne{
        display: none;
    }
    .userPageSpanTwo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: whitesmoke;
    }

    .userPageh3Two{
        margin: 18px 33px 0px 50px;
        background-color: whitesmoke;
        padding: 0 0 10px 0px;
        cursor: pointer;
    }
  }